/* title */

h1{

margin-top: 45px;

}

/* menu */

.link {

width: auto;
height: 45px;
text-align: center;
background: #eeeeee;

}

.link div {

font-size: 20px;
text-decoration: none;
display: inline-block;

}

.link div a {

color: #b74242;
line-height: 40px;
font-size: 25px;

}

/* "about me" content */

.callout{

background: #eeeeee;
border: 2px solid #b74242;
border-radius: 4px;
text-align: center;

}

.primary.callout{

background: #eeeeee;

}

.callout a{

color: #b74242;

}

/* my inforamtions */

.me{

width: 350px;
height : auto;
display: inline-block;
position: absolute;
text-align: center;
margin-left: 300px;

}

.me p {

font-size: 22px;
color : #b74242;

}

.id{

margin-left : 850px;

}

/* Hobby Foot */

.foot{

width: 300px;
height: auto;
display: inline-block;
position: absolute;

}

.foot img{

border-radius: 100px;
margin-left: 50px;
margin-right: 50px;

}

.foot h4{

text-align: center;
color: #eeeeee;
font: bold;

}

.foot .primary.callout {

margin-top: 15px;

}

/* Hobby Manga */

.mangas{

width: 300px;
height: auto;
display: inline-block;
position: absolute;
margin-left: 430px;

}

.mangas img{

border-radius: 100px;
margin-left: 50px;
margin-right: 50px;
height : 200px;

}

.mangas h4{

text-align: center;
color: #eeeeee;
font: bold;

}

.mangas .primary.callout {

margin-top: 15px;

}

/* Hobby VideoGames */

.jv{

width: 300px;
height: auto;
display: inline-block;
position: absolute;
margin-left: 867px;

}

.jv img{

border-radius: 100px;
margin-left: 50px;
margin-right: 50px;
height : 200px;

}

.jv h4{

text-align: center;
color: #eeeeee;
font: bold;

}

.jv .primary.callout {

margin-top: 15px;

}

/* hoobies style */

.large-8.medium-8.columns {

margin-top: 100px;

}

.large-4.medium-4.columns {

padding-top: 25px;

}

.large-4.medium-4.columns p{

color : #b74242;

}

.row .primary.callout {

height : 150px;

}




.container {

width : 80%;
height : 600px;
margin: 0 auto;
background: #eeeeee;
border: 2px solid #b74242;
border-radius: 4px;

}

/* SKills */

.content {


border : 2px solid #b74242;
width : 1000px;
height : auto;
background: #eeeeee;
display: block;
margin: 0 auto;
vertical-align: middle;
margin-top: 150px;

}

.content, .content2 h2 {

  color : #213458;

}


.cs{

display: block;
margin: 0 auto;
width : 800px;
height: auto;


}

.web, .oop, .android, .c, .git, .network, .project, .comm, .en{

display: inline-block;
width: 250px;
height: 150px;
font-size: 25px;
border-radius: 5px;
margin: 0 auto;
background: #b74242;
line-height: 20px;
margin-top: 10px;
margin-bottom: 10px;
margin-left: 2%;
margin-right: -1%;

}

.web, .oop, .android, .c, .git, .network, .project, .comm, .en h3 {

color : white;
text-align: center;

}


.lw, .lo, .la, .lc, .lg, .ln, .lp, .lco, .le {

color : yellow;
text-align: center;
font-size: 40px;
display: block;
line-height: 50px;
margin: 0 auto;

}

.content2 {

border : 2px solid #b74242;
width : 1000px;
height : auto;
background: #eeeeee;
display: block;
margin: 0 auto;
vertical-align: middle;
margin-top: 100px;
margin-bottom: 20px;

}

/* Contact Form */

.typeform-widget {

width : 100%;

}
